.navbar{
    background-color: dimgray;
    position: fixed;
    width: 100%;
    overflow: hidden;
    top: 0;
    font-size: 24px;
    text-decoration: none;
}
.navbar a{
    text-decoration: none;
    float: left;
    color: white;
    display: block;
    padding: 15px;
    text-align: center;
}
.navbar a:hover{
    background: lightgrey;
    color: black;
}
.navbar ul{
    list-style-type: none;
    margin: 0;
}
.column{
    float: left;
}
img{
    float: right;
    height: 700px;
    
}
.link{
    text-decoration: none;
}
.link li{
    text-decoration: none;
}