.navbar{
    background-color: dimgray;
    position: fixed;
    width: 100%;
    overflow: hidden;
    top: 0;
    font-size: 24px;
    text-decoration: none;
}
.navbar a{
    text-decoration: none;
    color: white;
    display: block;
    padding: 15px;
    text-align: center;
    float: left;
}
.navbar a:hover{
    background: lightgrey;
    color: black;
}
.navbar ul{
    list-style-type: none;
    margin: 0;
}
img{
    height: auto;
    width: 100%;
}
#link ol li a{
    text-decoration: none;
}
#head1{
    border: 2px solid black; 
    padding: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;   
}
body{
    font-family: sans-serif;
}
a:hover{
    font-size: 30px;
    color: lightgrey;
    background-color: red;
}
